*{
margin: 0px;
padding: 0px;
 box-sizing: content-box;
}

body{

    width: 100%;
    
}

nav{
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
height: 100px;
background-color: steelblue;
color: white;
}

nav ul li{

    display: inline-block;
    list-style: none;
    margin: 30px;
}

.log{
    display: flex;
    justify-content: space-between;
    margin-right: 250px;
}

.log h2{
    margin: 20px;
}

.log button{
    margin-left: 20 px;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    background-color: blue;
    color: white;
    border: none;
    font-weight: lighter;
}

nav h1{
    margin-left: 200px;
}



.banner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 90vh;
    background-color: tomato;
    margin-bottom: 40vh;
}

.fam{

    margin: auto;
    font-size: 30px;
    line-height: 2.5em;
    color: white;
}
.fam p{
    text-align: center;
    margin: 20px;
    margin-left: -50px;
    font-size: 20px;
    line-height: 2em;
    

}
.butona{

    margin: auto;
    margin-left: 25%;
}

.butona button{
display: inline-block
    
}
.quote{
    margin-left: -40px;
    width: 150px;
    padding: 5px;
border-radius: 20px;
color: white;
background-color: blue;
height: 50px;
border: none;

}
.learn{
    margin-right: -40px;
    width: 150px;
    padding: 5px;
    border-radius: 20px;
    color: white;
    background-color: transparent;
    height: 50px;
    border: 1px solid maroon;
}

.people{

    display: flex;
    justify-content: center;
    
}

.people p{
    margin-top: 50px;
}
.people h2{
    margin-top: 40px;
}
.peace, .life, .satisfaction{

    text-align: center;
    padding: 10px;
    margin: 20px;
    border: 2px solid grey;
    background-color: blue;
    height: 20vh;
    margin-bottom: -100px;
    align-content: center;
}

.center{

    display: flex;
    justify-content: center;
    margin-bottom: 30vh;
    text-align: center;
    
    
}
.center h3{

    margin-bottom: 10px;
}

.mind, .set, .per{

    margin-right: 100px;
    height: 30vh;

}

.defn{

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    background-color: yellow;
    justify-content: center;
    align-items: center;
    margin-bottom: 30vh;
}
.physics h1{
    text-align: center;
    margin-bottom: 20px;
}
.physics{

    margin-bottom: 10vh;
}
.cate{

    display: flex;
    justify-content: center;
}
.cate p{

    margin-top: 50%;
}
.slate1, .slate2, .slate3{

    margin-right: 60px;
    border: 1px solid grey;
    padding: 10px;
    height: 50vh;
    text-align: center;
    border-radius: 20px;

}
.pict{

    display: flex;
    flex-direction: column;
    background-color: grey;
    height: 50vh;
    margin: 0 auto;
}
.newsletter{

margin-top: 30vh;
margin-left: 15%;
display: flex;
justify-content: space-between;
margin-right: 15%;
width: 60%;
background-color: indigo;
height: 15vh;
align-items: center;
}
.subscribe{
margin-left: 15%;

}
.email{

margin-right: 15%;
}

.email input{
    padding: 5px;
    border-radius: 15px 0 0 15px;
    border: none;
    height: 2em;
}

.email input :focus{
    border: none;
}
 .email button{

    padding: 5px;
    height: 2em;
    background-color: blue;
    margin-left: -10px;
    width: 150px;
    border-radius: 0 15px 15px 0;
 }

 .pricing{

    display: flex;
    flex-direction: column;
    background-color: chartreuse;
    width: 60%;
    align-items: center;
    margin: auto;
    margin-top: 30vh;
    padding: 5px;
    height: 70vh;
    justify-content: center;
    margin-bottom: 30vh;

 }
 .worth{

    display: flex;
 }
 .free, .standard, .premium{

margin-right:0px;
border: 2px solid blue;
border-radius: 5px;
padding: 10px;
text-align: center;
height: 100%;

 }

 .standard{

    height: 150%;
    margin-top: -100px;
    background-color: navy;
 }
 .proba{

    text-align: center;
    
 }
 .worth{

    margin-top: 150px;
 }
 
 .pricing button{

    padding: 5px;
    width: 250px;
    margin-top: 30px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    height: 2em;
    border: none;

 }
 .planet{

    display: flex;
    flex-direction: column;
    background-color:navy;
    height: 80vh ;
    align-items: center;
    justify-content: center;
    margin-bottom: 30vh;

 }
 .worda{
display: flex;
justify-content: space-between;

 }
 .appointment{
display: flex;
justify-content: space-between;


 }

 .abi{
width: 400px;
height: 50vh;
padding: 10px;
background-color: white;
margin: auto;

    
 }

 input, select{
display: block;
margin: 15px 0;
box-sizing: border-box;
width: 100%;

 }

 

 
.contacts{

    display: flex;
    flex-direction: column;
    background-color: green;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
.agency{
    display: flex;
    justify-content: space-between;

}
.agency button{
margin-left: 700px;
padding: 10px;
width: 200px;
height: 40px;
border-radius: 10px;
background-color: #23A6F0;
border: none;

}
.fox{

    margin-left: -450px;
}


.info{

    display: flex;
    justify-content: space-between;
}

.contacts ul li{
    list-style: none;
}
.contacts ul li a{
    text-decoration: none;
    color: black;
    font-weight: lighter;
    
}

.company, .legal,  .features, .resources, .touch{

    margin-right: 50px;
}
.contacts ul li a :hover{
    background-color: blanchedalmond;
    color: chocolate;
    text-decoration: underline;
}

.agency{

    margin-bottom: 70px;
    text-align: center;
}