*{
margin: 0px;
padding: 0px;
 box-sizing: border-box;
}

body{
    font-family: 'Lobster', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    
}

nav{
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
height: 100px;

color: white;
}

nav ul li{

    display: inline-block;
    list-style: none;
    margin: 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover{
color: crimson;

}
 

.log{
    display: flex;
    justify-content: space-between;
    margin-right: 250px;
}

.log h2{
    margin: 20px;
}

.log button{
    margin-left: 20 px;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    background-color:#23A6F0;
    color: white;
    border: none;
    font-weight: lighter;
}
.log button:hover{
background-color: blue;

}


nav h1{
    margin-left: 200px;
}



.banner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 90vh;
    background-image: url(./images/back.png);
    margin-bottom: 40vh;
    background-size: cover;
    opacity: 1;
    background-color: lightslategray;
    
}

.fam{

    margin: auto;
    font-size: 30px;
    line-height: 2.5em;
    color: white;
}
.fam p{
    text-align: center;
    margin: 20px;
    margin-left: -50px;
    font-size: 20px;
    line-height: 2em;
    

}
.butona{

    margin: auto;
    margin-left: 25%;
}

.butona button{
display: inline-block
    
}

.butona button:hover{
background-color: orangered;

}
.quote{
    margin-left: -40px;
    width: 150px;
    padding: 5px;
border-radius: 20px;
color: white;
background-color: #23A6F0;
height: 50px;
border: none;

}
.learn{
    margin-right: -40px;
    width: 150px;
    padding: 5px;
    border-radius: 20px;
    color: white;
    background-color: transparent;
    height: 50px;
    border: 1px solid white;
}

.people{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.people p{
    margin-top: 50px;
}
.people h2{
    margin-top: 40px;
}
.peace, .life, .satisfaction{

    text-align: center;
    padding: 10px;
    margin: 20px;
    border: 2px solid grey;
    background-color: white;
    margin-bottom: -100px;
    align-content: center;
    height: 200px;
    border: 4px;
    border: 1px solid grey;
    height: 250px;
    box-shadow: 5px white;
    
}
.satisfaction{
    background-color: #23A6F0;
}

.center{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30vh;
    text-align: center;
    
    
}
.center h3{

    margin-bottom: 10px;
}

.mind, .set, .per{

    margin-right: 100px;
    height: 30vh;

}

.defn{

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    
    justify-content: center;
    align-items: center;
    margin-bottom: 30vh;
}
.physics h1{
    text-align: center;
    margin-bottom: 20px;
}
.physics{

    margin-bottom: 10vh;
}

.physics h1{
font-size: 50px;
letter-spacing: 1px;
font-weight: lighter;

}
.physics p{
font-size: 25px;
line-height: 2em;

}
.cate{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cate p{

    margin-top: 20px;
    line-height: 2em;
    font-size: 25px;
    font-weight: lighter;
}

.cate img{

    height: 200px;
    width: 200px;
}
.slate1, .slate2, .slate3{

    margin-right: 60px;
    border: 1px solid grey;
    padding: 10px;
    height: 50vh;
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 5px 5px;

}
.pict{

    display: flex;
    flex-direction: column;
    
    height: 60vh;
    margin: 0 auto;
    width: 100%;
}
.newsletter{

margin-top: 20vh;
margin-left: 15%;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-right: 15%;
width: 70%;
background: linear-gradient(90deg, indigo, #BB127A);
height: 20vh;
align-items: center;
}
 .phota{
    float: left;
    margin: 0 auto;
    width: 70%;
    
 } 
 .phota img{
     height: 50px;
     width: 70px;
     margin-right: 50px;
     margin-left: 70px;
 }

.subscribe{
margin-left: 15%;

}
.email{

margin-right: 15%;
}

.email button{
   height:50px; 
   background-color: #23A6F0;
   color: white;
   width: 200px;
   margin-right: 15px;
   border-radius: 4px;
   border: none;
   padding: 10px;

    
}
.email input{
padding: 10px;
height: 50px;
border-radius: 4px;
border: none;

    
}
.flex{

    display: flex;
    justify-content: center;
    align-items: center;
}

.email input :focus{
    border: none;
}
 .email button{

    padding: 5px
    
    
    
 }

 .pricing{

    display: flex;
    flex-direction: column;
    
    width: 60%;
    align-items: center;
    margin: auto;
    margin-top: 30vh;
    padding: 5px;
    height: 70vh;
    justify-content: center;
    margin-bottom: 30vh;

 }
 .worth{

    display: flex;
    margin: 150px;
 }
 .worth li{

list-style: none;

 }

 .worth ol li i{
     color: green;
 }

 .free, .standard, .premium{

margin-right:0px;
border: 1px solid blue;
border-radius: 10px;
padding: 10px;

height: 500px;
width:20vw;
line-height: 1.5em;
align-items: center;
box-shadow: 5px 5px 5px;

 }

 .standard{

    height: 700px;
    margin-top: -100px;
    background-color: #252B42;
    color: white;
 }

 .free h3, .free ol, .free p{

    margin-top: 30px;
    
 }
 
.premium p, .premium h3, .premium ol{
     margin-top: 30px;
     
    
     
     
 }
 .standard h3,.standard p, .standard ol{
font-size: 25px;
    margin-top: 30px;
    line-height: 1.7em;
 }

.praca{
    display: flex;
    justify-content:center;
    flex-direction: row;
    color: #23A6F0;
}
.lapa{

    display: flex;
    flex-direction: column;
}

 .proba{

    text-align: center;
    
 }
.subscribe h3{
    color: white;
    font-size: 30px;
    font-weight: lighter;
}

 

 .worth button{

    margin-left: 50px;
 }
 
 .pricing button{

    padding: 5px;
    width: 250px;
    margin-top: 30px;
    border-radius: 5px;
    background-color: #23A6F0;
    color: white;
    height: 2em;
    border: none;

 }
 .planet{

    display: flex;
    flex-direction: column;
    background-color:#252B42;
    height: 80vh ;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60vh;

 }
.planet img{

    
    
}

.erta img{
height: 50vh;
width: 300px;
margin-top: 30px;
}
.imaga img{

    height: 300px;
    width: 600px;

}

.tera{
    display: flex;
    position: relative;
    bottom: -150px;
    flex-wrap: wrap;

    
}


 .worda{
display: flex;
justify-content: space-between;
margin-top: 30px;
flex-wrap: wrap;
 }

 .atoma{
margin-right: 50px;
text-align: center;
color: white;

 }
 .atoma p{

    margin-top: 10px;
    letter-spacing: 1px;
 }
 .appointment{
display: flex;
justify-content: space-between;


 }

 .abi{
width: 450px;
height: 50vh;
padding: 10px;
background-color:white;
margin: auto;
margin-top: 30px;

    
 }

 input, select{
display: block;
margin: 15px 0;
box-sizing: border-box;
width: 100%;
padding: 10px;
height: 40px;
border-radius: 10px;

 }

 .abi input[type=submit]{

    background-color:#23A6F0;
    height: 3em;
    color: white;
    border: none;
 }

 .abi input[type=submit]:hover{

    background-color: green;
 }
 .abi h3{
     text-align: center;
     font-weight: lighter;
 }

 

 
.contacts{

    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    height: 40vh;
}
.agency{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.agency button{
margin-left: 750px;
padding: 10px;
width: 200px;
height: 40px;
border-radius: 10px;
background-color: #23A6F0;
border: none;

}
.fox{

    margin-left: -300px;
}


.info{

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contacts ul{
    margin-right: 50px;
}

.contacts ul li{
    list-style: none;
    margin: 10px;
}
.contacts ul li a{
    text-decoration: none;
    color: black;
    font-weight: lighter;
    
}

.company, .legal,  .features, .resources, .touch{

    margin-right: 50px;
}
.contacts ul li :hover{
    background-color: blanchedalmond;
    color: purple;
    text-decoration: underline;
    
}

.agency{

    margin-bottom: 70px;
    text-align: center;
}

.designer{
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: 5vh;
    width: 100%;
    
}

.auth{

    margin-right: 350px;
}

.ico ul li{

    display: inline-block;
    margin: 20px;
}

.peace i, .life i{
color: #23A6F0;
font-size: 40px;

}
.satisfaction i{

    color: white;
    font-size: 40px;
}
.center i{

    color:#23A6F0 ;
    font-size: 40px;
    margin-bottom: 20px;
}

.touch i{

    font-size: 20px;
    color: #23A6F0;
    margin: 10px;
}

.cate i{
margin-right: 15px;
 color: goldenrod;
margin-top: 30px;
}
.us button:hover{
background-color: indigo;
}
 


@media  screen and (max-width: 1300px){

    .banner {
        height: auto;
        margin-bottom: 0px;
        background-size: contain;
    }

    .butona button{

display: block;
    }

    .people{
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        margin-top: 3vh;
        margin-bottom:10vh;
        
    }

    .center{

        
        flex-direction: column;
        width: 100%;
        margin-bottom: 20vh;
        margin-top:3vh ;
        
    }
    .per, .set, .mind{
        margin-top: 0vh;
        margin-bottom: 0vh;
        margin: auto;
    }
.defn{
height:auto;
    margin-top: 10vh;
    margin-bottom: auto;
}

.cate{
    display: flex;
    flex-flow: column ;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50vh;
    
}
.slate1, .slate2, .slate3{

    height: auto;
    box-shadow: 0px 0px 0px;
    border-radius: 0px;
}

.physics p{
    text-align:center ;
    padding: 5px;
}
.pict{ 
    width: 100%;  
    display: block;
    
 
    
 }

 .pricing{
     height: auto;
 }


.newsletter{

    flex-direction: column;
    justify-content: space-between;

}
.worth{

    flex-direction: column;
    width: 100%;

    justify-content: space-between;
}
.tera, .worda, .info{
flex-direction: column;
width: 100%;
justify-content: space-between;

}


.phota{
margin-top: 300px;
margin-left: 200px;

}

.peace, .life, .satisfaction{
margin: auto;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0vh;
}
 .abi{
     width: 60%;
     margin: auto;
 }

 .free, .standard, .premium{
width: 100%;
margin: auto;



 }
 .worda{
     align-items: center;
     justify-content: center;
 }
     


.atoma, .imaga, .appointment, .erta{
    margin: auto;
    width: 100%;
    margin-bottom: 20vh;
}

.company, .legal, .features, .touch, .resources{

    width: 100%;
    margin-left: 40%;
    margin-bottom: 10vh;
    
}


.info{
    margin-bottom: 10vh;
    flex-direction: column;
}


.designer{
    flex-direction: column;
    margin-top: 20vh;
    
    
}



}